<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servidor ExpressJS - Contato</title>
</head>
<body>
    <h1>Bem vindo a Página Contato</h1>
    <form action="">
 <label for="nome">Nome: </label>
<input type="text" name="nome" id="nome">
<button type="submit">Cadastrar</button>
    </form>

    <p><a href="/">inicial</a> | <a href="/sobre">Sobre</a> | <a href="/contato">Contato</a></p>
</body>
</html>